body {
  margin: 0;
  padding: 0;
  background: rgb(4, 100, 190);
  color: rgb(24, 24, 24);
  padding: 20px 120px;
  height: 100vh;
  font-family: "Righteous", sans-serif;
  overflow: hidden;
}

/*After ( Antes) , before ( Depois ) */

body::before {
  content: "";
  background: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: -600px;
  transform: rotate(-70deg);
  width: 100%;
  height: 120%;
}

/* Colocando uma Marca Dágua */
body::after {
  content: "CodeByRyan";
  color: rgb(48, 48, 48);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 115px;
  font-weight: bold;
  opacity: 0.5;
}

.Menu img {
  width: 80px;
  position: relative;
  z-index: 2;
}

h4 {
  font-size: 30px;
}

h1 {
  font-size: 80px;
}

p {
  font-size: 16px;
  margin-bottom: 40px;
}

.botão-carrinho {
  background: rgb(2, 116, 223);
  color: aliceblue;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  transition: 3s;
}

.botão-carrinho:hover {
  opacity: 0.7;
}

.img-Camera {
  transform: rotate(-25deg);
  width: 800px;
}

.Caixa-Principal {
  display: flex;
  justify-content: space-between; /* Alinha na horizontal */
  align-items: center; /* Alinha na Vertical */
  height: 75%; /* Colocando no centro */
  position: relative;
  z-index: 1;
}

.Caixa-Texto {
  max-width: 500px;
}

.caixa-botão {
  position: relative;
  z-index: 3;
  display: flex;
  gap: 20px;
}

.botão {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
}

.laranja {
  background: rgb(255, 145, 0);
}

.azul {
  background: rgb(0, 174, 255);
}

.vermelho {
  background: rgb(255, 0, 43);
}
